@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.profile_container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.buttons_container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.profile_icon{
    margin-left: 60px;
    margin-right: 20px;
    float: left;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: gray;
    border: 6px solid #FFF;
    box-shadow: 0 0 0 1px gray;
}
h1.header_one_font{
    font-family: 'Open Sans', serif;
    font-weight: lighter;
    line-height: 50%;
    padding-top: 10px;
}
p.paragraph_font{
    font-family: 'Open Sans', serif;
    font-size: 0.8em;
}
.connectandmessagebutton{
    width:130px;
    background-color:lightgray;
    border:none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-family: 'Open Sans', serif;
    font-size: 13px;
    color:dimgray;
    font-weight: lighter;
    margin: 1px 1px 1px 1px;
    padding: 10px 35px;
    -webkit-transition-duration:0.4s;
    transition-duration:0.4s;
    -moz-transition-duration:0.4s;
    transition-duration:0.4s;

}
.connectandmessagebutton:hover {
    background-color: dimgray;
    color: lightgray;
}
.connectandmessagebutton:active {
    vertical-align: top;
    padding-top: 6px;
}
.likebutton{
    width:130px;
    background-color:lightgray;
    border:none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-family: 'Open Sans', serif;
    font-size: 13px;
    color:dimgray;
    font-weight: lighter;
    margin: 1px 1px 1px 1px;
    padding: 10px 35px;
    -webkit-transition-duration:0.4s;
    transition-duration:0.4s;
    -moz-transition-duration:0.4s;
    transition-duration:0.4s;

}
.likebutton:hover {
    background-color: indianred;
    color: lightgray;
}
.likebutton:active {
    vertical-align: top;
    padding-top: 6px;
}